.filters {
  background-color: white;
  height: 70px;
  position: relative;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% auto 20% 30px;
  grid-template-rows: 1fr;
  text-align: left;
  padding: 0;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  grid-column: 4;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.filters button:hover {
  opacity: 90%;
}

.locations .amenities {
  width: 25%;
  text-align: left;
  padding-left: 40px;
}

.locations {
  height: 100%;
  border-right: 1px solid #dddddd;
}

.amenities {
  height: 100%;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin-bottom: 3px;
  margin-left: 40px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.locations .popover {
  display: none;
  position: absolute;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 25%;
  top: 100%;
  margin-top: -1px;
}

.amenities .popover {
  display: none;
  position: absolute;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 25%;
  top: 100%;
  margin-top: -1px;
}

.locations:hover .popover::-webkit-scrollbar {
  display: none;
}
.amenities:hover .popover::-webkit-scrollbar {
  display: none;
}

.locations:hover .popover {
  display: block;
  width: 25%;
  overflow: scroll;
  max-height: 300px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.amenities:hover .popover {
  display: block;
  width: 25%;
  overflow: scroll;
  max-height: 300px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 50px;
}

.popover h2 {
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: -10px;
  padding-left: 0;
}

.popover ul li UL LI {
  list-style: none;
}

li::marker {
  content: "";
}
