<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <META charset="utf-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>HBnB</TITLE>
    <LINK rel="stylesheet" href="../static/images/icon.png" type="image/x-icon">
    <LINK rel="stylesheet" href="../static/styles/4-common.css">
    <LINK rel="stylesheet" href="../static/styles/3-header.css">
    <LINK rel="stylesheet" href="../static/styles/3-footer.css">
    <LINK rel="stylesheet" href="../static/styles/6-filters.css">
    <LINK rel="stylesheet" href="../static/styles/100-places.css">
	<LINK rel="icon" href="../static/images/icon.png" >
  </HEAD>

  <BODY>
    <HEADER>
		<DIV></DIV>
	</HEADER>

    <MAIN>
      <DIV class="container">
        <SECTION class="filters" role="search">
          <DIV class="locations">
            <H3>States</H3>
            <H4>&nbsp;</H4>
            <DIV class="popover">
							<UL>
              {% for state in states.values()|sort(attribute="name") %}
                <LI><STRONG>{{ state.name }}</STRONG>
                  <UL>
                  {% for city in state.cities|sort(attribute="name") %}
                    <LI>{{ city.name }}</LI>
                  {% endfor %}
                  </UL>
                </LI>
              {% endfor %}
              </UL>
            </DIV>

            </DIV><DIV class="amenities">
              <H3>Amenities</H3>
              <H4>&nbsp;</H4>
              <UL class="popover">
                {% for amenity in amenities.values()|sort(attribute="name") %}
                  <LI>{{ amenity.name}}</LI>
                {% endfor %}
              </UL>
            </DIV>
          <BUTTON>Search</BUTTON>
        </SECTION>

        <SECTION class="places">
          <H1>Places</H1>
		  <DIV>
			{% for place in places.values()|sort(attribute="name") %}
			<ARTICLE>
				<H2>{{ place.name }}</H2>
				<DIV class="price_by_night">&#36;{{ place.price_by_night }}</DIV>

				<DIV class="information">
					<DIV class="max_guest">
						<DIV></DIV>
						<SPAN>{{ place.max_guest }} guests</SPAN>
					</DIV>
					<DIV class="number_rooms">
						<div></div>
						<SPAN>{{ place.number_rooms }} rooms</SPAN>
					</DIV>
					<DIV class="number_bathrooms">
						<div></div>
						<SPAN>{{ place.number_bathrooms }} Bathrooms</SPAN>
					</DIV>
				</DIV>

				<DIV class="user">
					<B>Owner</B>:&nbsp; 
					<SPAN>{{ place.user.first_name }} {{ place.user.last_name }}</SPAN>
				</DIV>

				<DIV class="description">{{ place.description|safe|trim }}</DIV>

				<DIV class="amenities">
					<H2>Amenities</H2>
					<UL>
						{% for amenity in place.amenities|sort(attribute="name") %}
								<LI>
									<DIV></DIV>
									<SPAN>{{ amenity.name }}</SPAN>
								</LI>
						{% endfor %}
					</UL>
				</DIV>

				<DIV class="reviews">
					<H2>{{ place.reviews.__len__() }} Reviews</H2>
					<UL>
						{% for review in place.reviews %}
							<LI>
								<H3>From {{ review.user.first_name }} the {{ review.created_at.date().__str__() }}</H3>
							</LI>
							<LI>
								<P>{{ review.text|safe }}</P>
							</LI>
						{% endfor %}
					</UL>
				</DIV>
			</ARTICLE>
			{% endfor %}
		  </DIV>
        </SECTION>
      </DIV>
    </MAIN>

    <FOOTER>
      	<DIV>Best School</DIV>
    </FOOTER>
  </BODY>
</HTML>

